@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}
#header-sec {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 10px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-sec .nav-header .nav-logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo-img {
  width: 50px;
}
.school {
  color: rgb(17, 17, 17);
  font-size: 32px;
  font-weight: 700;
}
.nav-link a {
  text-decoration: none;
  margin-right: 32px;
  font-size: 20px;
  font-weight: 700;
}
.nav-btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  padding: 10px 32px;
  background: rgb(254, 163, 1);
}
.nav-btn:hover {
  scale: 1.1;
  transition-duration: 600ms;
  color: rgb(254, 163, 1);
  background: rgba(254, 161, 1, 0.275);
  cursor: pointer;
}
.more-icon {
  display: none;
}

/* hero section */
#hero-sec {
  max-width: 1300px;
  margin: 0 auto;
}
.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.hero-title {
  font-size: 56px;
  font-weight: 700;
  width: 550px;
  color: rgb(17, 17, 17);
}
.hero-subtitle {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  margin-top: 24px;
}
.hero-btn {
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 47px;
  margin: 24px 0px;
  border: none;
}
.hero-btn:hover {
  scale: 1.1;
  transition-duration: 600ms;
  color: rgb(0, 0, 0);
  background: rgba(148, 143, 143, 0.776);
  cursor: pointer;
}

/* media query  */
@media screen and (max-width: 576px) {
  #header-sec {
    padding: 5px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }
  .logo-img {
    width: 20px;
  }
  .school {
    display: none;
  }
  .nav-link a {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .more-icon {
    display: flex;
  }

  /* hero section */
  #hero-sec {
    padding: 10px;
  }
  .hero-main {
    display: flex;
    flex-direction: column-reverse;
    /* margin-top: 24px; */
  }
  .hero-all-text {
    text-align: center;
  }
  .hero-title {
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    color: rgb(17, 17, 17);
    margin-top: 10px ;
  }
  .hero-subtitle {
    color: rgb(17, 17, 17);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
  }
  .hero-btn {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    padding: 10px 27px;
    margin: 24px 0px;
    border: none;
    margin-top: 14px;
  }
  .hero-img {
    width: 100%;
  }
}
